/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-03-2020, 09:48:56 PM
    Author     : José
*/

.textos{
    -fx-background-color: #DBDBE6;
    -fx-border-color: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#btn-buscar{
    -fx-background-image: url("../imagenes/buscar.png");
    
    -fx-border-color: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.table-view {
    -fx-base: red;
    -fx-control-inner-background: #DFDFDF;
    -fx-background-color: #957C7C;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.labels{
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 14px;

}

.textboxs{
    -fx-font-family: 'Franklin Gothic Book';
    -fx-font-size: 12px;
}

