/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-03-2020, 09:48:56 PM
    Author     : José
*/

.textos{
    -fx-background-color: #DBDBE6;
    -fx-border-color: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

#btn-buscar{
    -fx-background-image: url("../imagenes/buscar.png");
    
    -fx-border-color: black;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.labels{
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 14px;

}

.textboxs{
    -fx-font-family: 'Franklin Gothic Book';
    -fx-font-size: 12px;
}

.closebutton{
  -fx-background-color: #bd0a2c;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.closebutton:hover {
  -fx-background-color: #e3091b;
  -fx-content: "Close";
}

.minimizebutton{
  -fx-background-color: #c2b200;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.minimizebutton:hover {
  -fx-background-color: #e3d809;
  -fx-content: "Minimize";
}

.returnbutton{
  -fx-background-color: #299f24;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.returnbutton:hover {
  -fx-background-color: #18db1f;
  -fx-content: "Return";
}
